<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<body>
<header th:fragment="head1">
        <div class="top_menu">
            <div class="container"><span class="top_name" th:text="${slogan}">诚信为本，市场在变，诚信永远不变...</span>
                <div class="language"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>&nbsp;&nbsp;咨询电话：<span th:text="${hotphone}">0896-00000000</span>
                </div>
            </div>
        </div>
    <div class="clearfix"></div>
        <div class="container"  style="height: 100px">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 logodiv"th:style="'background:url(' +${headlogo}+') no-repeat center top;height:100px'">
<!--                    <img src="http://weidu-company.oss-cn-beijing.aliyuncs.com/20210915/844cf21061384444a7d5d090e2ccab69.jpg" style="margin-top: 0; width: 100%; height: 100px;" class="logo" alt="蓝色机械设备企业响应式模板"/>-->

                </div>
                <!--            <div id="topsearch" class="col-xs-12 col-sm-3 col-md-3">-->
                <!--                <form name="formsearch" method="get" action="">-->
                <!--                    <input type="hidden" name="kwtype" value="0"/>-->
                <!--                    <div class="input-group search_group">-->
                <!--                        <input type="text" name="q" id="q" class="form-control input-sm" placeholder="产品搜索">-->
                <!--                        <span class="input-group-btn"><a class="btn btn-sm mysearch_btn" type="button">-->
                <!--            <button type="submit" class="search-submit" style="border: 0;outline:none; -->
                <!--    background: #740000;">搜 索</button>-->
                <!--            </a></span></div>-->
                <!--                </form>-->
                <!--            </div>-->
            </div>
        </div>
        <!-- Fixed navbar -->
        <nav style="margin-top: 0" class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar"><span class="sr-only">导航菜单</span><span
                            class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    <span id="small_search" class="glyphicon glyphicon-search" aria-hidden="true"></span><a
                        class="navbar-brand" href="javascript:;">导航菜单</a></div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/index" >首页</a></li>
                        <li class="dropdown"><a href="/aboutus" class="">关于春江</a> <a href="javascript:;"
                                                                                     id="app_menudown"
                                                                                     class="dropdown-toggle"
                                                                                     data-toggle="dropdown"
                                                                                     role="button"
                                                                                     aria-expanded="false"><span
                                class="glyphicon glyphicon-menu-down btn-xs"></span></a>
                            <ul class="dropdown-menu nav_small" role="menu">
                                <li><a href="/aboutus#about">春江简介</a></li>

                                <li><a href="/aboutus#values">企业文化</a></li>

                                <li><a href="/aboutus#history">发展历程</a></li>

                                <li><a href="/aboutus#structure">组织架构</a></li>
                                <li><a href="/aboutus#qc">资历认证</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="http://www.expoon.com/e/kwvm34gsqzm/panorama" class="">VR全景</a> <a href="javascript:;" id="app_menudown"
                                                                        style="display:none" data-toggle="dropdown"
                                                                        role="button" aria-expanded="false"><span
                                class="glyphicon glyphicon-menu-down btn-xs"></span></a>
                            <ul class="dropdown-menu nav_small" role="menu">
                                <li><a href="https://vr.justeasy.cn/view/p158a97rd8675055.html?from=singlemessage&isappinstalled=0">春江样品室</a></li>
                                <li><a href="http://www.expoon.com/e/kwvm34gsqzm/product/list">360度产品展示</a></li>
                            </ul>
                        </li>

                        <li class="dropdown"><a href="/news" class="">公司动态</a> <a href="javascript:;"
                                                                                  id="app_menudown"
                                                                                  class="dropdown-toggle"
                                                                                  data-toggle="dropdown"
                                                                                  role="button"
                                                                                  aria-expanded="false"><span
                                class="glyphicon glyphicon-menu-down btn-xs"></span></a>
                            <ul class="dropdown-menu nav_small" role="menu">
                                <li><a href="/news#exb">展会风采</a></li>
                                <li><a href="/news#cjnews">公司新闻</a></li>
                            </ul>
                        </li>

                        <li class="dropdown"><a href="/product" class="">产品中心</a> <a href="/product"
                                                                                     id="app_menudown"
                                                                                     class="dropdown-toggle"
                                                                                     data-toggle="dropdown"
                                                                                     role="button"
                                                                                     aria-expanded="false"><span
                                class="glyphicon glyphicon-menu-down btn-xs"></span></a>
                            <ul class="dropdown-menu nav_small" role="menu">

                                <li><a href="/product">安全鞋</a></li>


                            </ul>
                        </li>
                        <li class="dropdown"><a href="/tech" class="">技术中心</a> <a href="javascript:;"
                                                                                  id="app_menudown"
                                                                                  class="dropdown-toggle"
                                                                                  data-toggle="dropdown"
                                                                                  role="button"
                                                                                  aria-expanded="false"><span
                                class="glyphicon glyphicon-menu-down btn-xs"></span></a>
                            <ul class="dropdown-menu nav_small" role="menu">

                                <li><a href="/tech">制鞋材料</a></li>

                                <li><a href="/tech?cat=2">制鞋标准</a></li>

                                <li><a href="/tech?cat=3">实验设备</a></li>

                            </ul>
                        </li>
                        <li><a href="/recruit" class="">招贤纳士</a> <a href="javascript:;" id="app_menudown"
                                                                    style="display:none" data-toggle="dropdown"
                                                                    role="button" aria-expanded="false"><span
                                class="glyphicon glyphicon-menu-down btn-xs"></span></a>
                            <ul class="dropdown-menu nav_small" role="menu">


                            </ul>
                        </li>

                        <li class="dropdown"><a href="/contactus" class="">联系我们</a> <a href="javascript:;"
                                                                                       id="app_menudown"
                                                                                       class="dropdown-toggle"
                                                                                       data-toggle="dropdown"
                                                                                       role="button"
                                                                                       aria-expanded="false"><span
                                class="glyphicon glyphicon-menu-down btn-xs"></span></a>
                            <ul class="dropdown-menu nav_small" role="menu">
                                <li><a href="/contactus">联系方式</a></li>
                                <li><a href="/contactus">客户留言</a></li>
                            </ul>
                        </li>
                    </ul>

                    <form style="width: 190px; float: right; margin-top: -2.2%;" name="formsearch" method="get" action="">
                        <input type="hidden" name="kwtype" value="0"/>
                        <div class="input-group search_group">
                            <input type="text" name="q" id="q" class="form-control input-sm" placeholder="产品搜索">
                            <span class="input-group-btn"><a href="/product" class="btn btn-sm mysearch_btn">
                                     搜 索
								</a></span></div>
                    </form>
                </div>
                <!--/.nav-collapse --></div>
        </nav>
    </header>





<footer th:fragment="footer">
    <div class="footer-menus">
        <div class="contact-us">
            <p class="mene-title">联系我们</p>
            <p>地址：山东省沂南县北外环路东段</p>
            <p>电话：0086-539-3261558</p>
            <p>传真：0086-539-3261559</p>
            <p>电子邮箱：lin@chunjiangshoes.com;Ly-cj@126.com</p>
        </div>
        <div class="service-menu footer-menu">
            <p class="menu-title">产品中心</p>
            <ul class="menu-items">
                <li><a href="#">安全鞋</a></li>
                <li><a href="#">工作鞋</a></li>
                <li><a href="#">户外鞋</a></li>
            </ul>
        </div>
        <div class="service-menu footer-menu">
            <p class="menu-title">技术中心</p>
            <ul class="menu-items">
                <li><a href="#">生产材料</a></li>
                <li><a href="#">技术规格</a></li>
                <li><a href="#">检验设备</a></li>
            </ul>
        </div>
        <div class="service-menu footer-menu">
            <p class="menu-title">公司动态</p>
            <ul class="menu-items">
                <li><a href="#">信息公开</a></li>
                <li><a href="#">最近新闻</a></li>
            </ul>
        </div>
        <div class="service-menu footer-menu">
            <p class="menu-title">帮助与支持</p>
            <ul class="menu-items">
                <li><a href="#">帮助中心</a></li>
                <li><a href="#">联系客服</a></li>
                <li><a href="#">文档资源</a></li>
            </ul>
        </div>
        <p class="icp-info"><a href="http://www.beian.miit.gov.cn/">鲁ICP备18021651号-2</a></p>
        <p class="rights">2020 春江鞋业 </p>
        <div class="scrollToTop">
            <a href="#" class="fas fa-chevron-up"></a>
        </div>
    </div>
</footer>





<footer th:fragment="footer1" style="padding: 30px 0px 0px 0px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="border-top: none;">
                    <h1 style="color: white; font-size: 46px; text-align: left;"><strong>山东春江鞋业集团有限公司</strong></h1>
                    <div style="height: 1.8px; width: 80%; background: white"></div>
                    <div class="col-lg-6" style="text-align: left; font-size: 18px; margin-top: 16px">
                        <div th:text="${phone}">电话：0086-539-3261558</div>
                        <div style="margin-top: 16px" th:text="${mail}">邮箱：lin@chunjiangshoes.com</div>
                    </div>
                    <div class="col-lg-6" style="text-align: left; font-size: 18px; margin-top: 16px">
                        <div th:text="${web}">网址：www.chunjiangshoes.com.cn</div>
                        <div style="margin-top: 16px" th:text="${address}">地址：山东省沂南县北外环路东段</div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="border-top: none; margin-top: 18px">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <h2 style="font-size: 26px;color: white"><strong>- 联系我们 -</strong></h2>
                    </div>

                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                        <table border="0" cellspacing="2" cellpadding="5">
                            <tbody><tr>
                                <td th:each="item,stat:${icons}"
                                        style="
                                    margin-right: 5rem;
                                    display: inline-block;">
                                    <p class="pb-2"><a href="#" target="_blank"><img th:src="${item.url}" style="max-width:80px"></a></p></td>
                                <td style="
                                    margin-right: 5rem;
                                    display: inline-block;"><p class="pb-2"><a th:href="${mall.link}" target="_blank"><img th:src="${mall.url}" style="max-width:80px"></a></p></td>
<!--                                <td style="-->
<!--                                    margin-right: 5rem;-->
<!--                                    display: inline-block;"><p class="pb-2"><a href="https://rddunwang.1688.com/" target="_blank"><img src="http://www.js-dw.com/1688.jpg" style="max-width:60px"></a></p></td>-->
<!--                                <td style="-->
<!--                                    margin-right: 5rem;-->
<!--                                    display: inline-block;"><p class="pb-2"><a href="https://rddunwang.1688.com/" target="_blank"><img src="http://www.js-dw.com/1688.jpg" style="max-width:60px"></a></p></td>-->
<!--                            -->
                            </tr>
                            </tbody></table>
                    </div>

                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div id="container1" style="margin-left: -25px; width: 100%; height: 260px"></div>
            </div>

        </div>
    </div>
    <div class="copyright" style="background: darkgray; color: white; margin-top: 16px;">
        <p th:text="${copyright}">Copyright ? 2006-2014 chunjiang   京ICP备00000000号</p>
    </div>
</footer>



</body>
</html>

