<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" th:attr="content=${description}">
    <meta name="keywords" th:attr="content=${keywords}">
    <title th:text="${title}">春江鞋业|chunjiangshoes</title>
    <link rel="icon" th:href="@{${iconUrl}}" type="image/x-icon">
    <link rel="shortcut icon" th:href="@{${iconUrl}}" type="image/x-icon">
    <script src="libs/scrollReveal/scrollreveal.min.js"></script>
    <link
            rel="stylesheet"
            href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.css"
    />
    <link rel="stylesheet" href="libs/glide/glide.core.min.css" />
    <link rel="stylesheet" href="libs/glide/glide.theme.min.css" />
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">


    <!--    <link rel="stylesheet" href="style.css" />-->
    <meta name="applicable-device" content="pc,mobile">
    <link href="new/css/bootstrap.css" rel="stylesheet">
    <link href="new/css/bxslider.css" rel="stylesheet">
    <link href="new/css/style.css" rel="stylesheet">
    <link
            rel="stylesheet"
            href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.css"
    />
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
    <script src="new/js/jquery.min.js"></script>
    <script src="new/js/bxslider.min.js"></script>
    <script src="new/js/common.js"></script>
    <script src="new/js/bootstrap.js"></script>
    <!--[if lt IE 9]>
    <script src="new/js/html5shiv.min.js"></script>
    <script src="new/js/respond.min.js"></script><![endif]-->



    <style>
        #container1{
            /*地图(容器)显示大小*/
            width:250px;
            height:250px;
        }

        .breadcrumb {
            border-bottom: 1px solid #dcdcdc;
            min-height: 40px;
            width: 80%;
            margin: 36px auto;
            background-color: #fff;
        }
        .breadcrumb a {
            color: #999;
            text-decoration: none;

        }
        .card-header:first-child {
            border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
        }
        .card-header {
            padding: .75rem 1.25rem;
            margin-bottom: 0;
            background-color: rgba(0,0,0,.03);
            border-bottom: 1px solid rgba(0,0,0,.125);
        }
        .card-body {
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            min-height: 1px;
            padding: 1.25rem;
        }
        .card {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid rgba(0,0,0,.125);
            border-radius: .25rem;
        }
        .bg-light {
            background-color: #f8f9fa!important;
        }
        .rcline{
            margin-top: 26px;
        }
        .btn-info {
            color: #fff;
            background-color: #740000;
            border-color: #740000;
        }
        .btn-info:hover{
            color: #fff;
            background-color: #ff434f;
            border-color: #ff434f;
        }
    </style>
</head>
<body>

<header th:include="~{publicZH::head1}"></header>

<div class="page_bg" style="background: url(http://www.js-dw.com/static/upload/image/20200630/1593504033741510.jpg) center center;"></div>


<div class=" breadcrumb">
    <a href="/index">首页</a>&gt;<a class="active">招贤纳士</a>
</div>

<div class="container">
<!--    <div class="row rcline">-->

<!--        <div class="mb-3 col-12 col-lg-6">-->
<!--            <div class="card bg-light">-->
<!--                <div class="card-header fs-sm-18 fs-16"><b>招聘职位：销售行政助理(上海)</b></div>-->
<!--                <div class="card-body">-->
<!--                    <p><strong>发布日期：</strong>2020-06-30</p>-->
<!--                    <p class="card-text py-2">职位描述：1、工作地点：上海(全职) 人数：3人2、咨询电话的接听，并能根据电话来访客户的要求，能独立为客户推荐合适产品，报价、签单3、协助销售部做好电话来访工作，详细记录客户信息和洽谈过程，及时反馈给相应区···</p>-->

<!--                    <div><a class="btn btn-info mt-2" href="/recruit_detail">查看详情</a></div>-->
<!--                </div>-->

<!--            </div>-->
<!--        </div>-->

<!--        <div class="mb-3 col-12 col-lg-6">-->
<!--            <div class="card bg-light">-->
<!--                <div class="card-header fs-sm-18 fs-16"><b>招聘职位：区域销售代表(上海)</b></div>-->
<!--                <div class="card-body">-->
<!--                    <p><strong>发布日期：</strong>2020-06-30</p>-->
<!--                    <p class="card-text py-2">职位描述：1、工作地点：上海(全职) 人数：6人2、根据公司市场营销计划，完成部门销售指标和个人业绩指标；3、开拓新市场，发展新客户，增加产品的市场份额和影响力；4、负责辖区市场信息的收集及竞争对手的分析；5、···</p>-->

<!--                    <div><a class="btn btn-info mt-2" href="/recruit_detail">查看详情</a></div>-->
<!--                </div>-->

<!--            </div>-->
<!--        </div>-->

<!--    </div>-->
<!--    <div class="row rcline">-->

<!--        <div class="mb-3 col-12 col-lg-6">-->
<!--            <div class="card bg-light">-->
<!--                <div class="card-header fs-sm-18 fs-16"><b>招聘职位：销售行政助理(上海)</b></div>-->
<!--                <div class="card-body">-->
<!--                    <p><strong>发布日期：</strong>2020-06-30</p>-->
<!--                    <p class="card-text py-2">职位描述：1、工作地点：上海(全职) 人数：3人2、咨询电话的接听，并能根据电话来访客户的要求，能独立为客户推荐合适产品，报价、签单3、协助销售部做好电话来访工作，详细记录客户信息和洽谈过程，及时反馈给相应区···</p>-->

<!--                    <div><a class="btn btn-info mt-2" href="/recruit_detail">查看详情</a></div>-->
<!--                </div>-->

<!--            </div>-->
<!--        </div>-->

<!--        <div class="mb-3 col-12 col-lg-6">-->
<!--            <div class="card bg-light">-->
<!--                <div class="card-header fs-sm-18 fs-16"><b>招聘职位：区域销售代表(上海)</b></div>-->
<!--                <div class="card-body">-->
<!--                    <p><strong>发布日期：</strong>2020-06-30</p>-->
<!--                    <p class="card-text py-2">职位描述：1、工作地点：上海(全职) 人数：6人2、根据公司市场营销计划，完成部门销售指标和个人业绩指标；3、开拓新市场，发展新客户，增加产品的市场份额和影响力；4、负责辖区市场信息的收集及竞争对手的分析；5、···</p>-->

<!--                    <div><a class="btn btn-info mt-2" href="/recruit_detail">查看详情</a></div>-->
<!--                </div>-->

<!--            </div>-->
<!--        </div>-->

<!--    </div>-->
    <div class="row rcline" th:each="rec,ii:${recruit}">

        <div class="mb-3 col-12 col-lg-6" th:each="r,i:${rec}">
            <div class="card bg-light">
                <div class="card-header fs-sm-18 fs-16" th:text="${r.title}"><b>招聘职位：销售行政助理(上海)</b></div>
                <div class="card-body">
                    <p><strong>发布日期：</strong><span th:text="${r.updated}">2020-06-30</span></p>
                    <p class="card-text py-2" th:text="${r.descri}">职位描述：1、工作地点：上海(全职) 人数：3人2、咨询电话的接听，并能根据电话来访客户的要求，能独立为客户推荐合适产品，报价、签单3、协助销售部做好电话来访工作，详细记录客户信息和洽谈过程，及时反馈给相应区···</p>

                    <div><a class="btn btn-info mt-2" th:href="@{/recruit_detail(id=${r.id})}">查看详情</a></div>
                </div>

            </div>
        </div>

<!--        <div class="mb-3 col-12 col-lg-6">-->
<!--            <div class="card bg-light">-->
<!--                <div class="card-header fs-sm-18 fs-16"><b>招聘职位：区域销售代表(上海)</b></div>-->
<!--                <div class="card-body">-->
<!--                    <p><strong>发布日期：</strong>2020-06-30</p>-->
<!--                    <p class="card-text py-2">职位描述：1、工作地点：上海(全职) 人数：6人2、根据公司市场营销计划，完成部门销售指标和个人业绩指标；3、开拓新市场，发展新客户，增加产品的市场份额和影响力；4、负责辖区市场信息的收集及竞争对手的分析；5、···</p>-->

<!--                    <div><a class="btn btn-info mt-2" href="/recruit_detail">查看详情</a></div>-->
<!--                </div>-->

<!--            </div>-->
<!--        </div>-->

    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom footer_nav">
    <div class="foot_nav btn-group dropup"><a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                              aria-expanded="false" href="javascript:;"><span
            class="glyphicon glyphicon-share btn-lg" aria-hidden="true"></span> 分享</a>

    </div>
    <div class="foot_nav"><a href="javascript:;"><span class="glyphicon glyphicon-phone btn-lg"
                                                       aria-hidden="true"></span>手机</a></div>
    <div class="foot_nav">
        <button id="foot_btn" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
            <a id="gotocate" href="javascript:;"><span class="glyphicon glyphicon-th-list btn-lg"></span> 分类 </a>
        </button>
    </div>

    <div class="foot_nav"><a id="gototop" href="javascript:;"><span class="glyphicon glyphicon-circle-arrow-up btn-lg"
                                                                    aria-hidden="true"></span>顶部</a></div>
</nav>
<footer th:include="~{publicZH::footer1}"></footer>

<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<script src="libs/anime/anime.min.js"></script>
<script src="libs/glide/glide.min.js"></script>
<script src="libs/isotope/isotope.pkgd.min.js"></script>
<script src="libs/smooth-scroll/smooth-scroll.polyfills.min.js"></script>
<script src="index1.js"></script>
<script src="https://map.qq.com/api/gljs?v=1.exp&key=ULXBZ-MTXKD-LEN4G-PVOYH-RGD72-3OBS6"></script>

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    window.onload = initMap
    //地图初始化函数，本例取名为init，开发者可根据实际情况定义
    function initMap() {
        //定义地图中心点坐标
        var center = new TMap.LatLng(35.562343,118.485432)
        //定义map变量，调用 TMap.Map() 构造函数创建地图
        var map = new TMap.Map(document.getElementById('container1'), {
            center: center,//设置地图中心点坐标
            zoom: 17,   //设置地图缩放级别
            pitch: 43.5,  //设置俯仰角
            rotation: 45    //设置地图旋转角度
        });

        //创建并初始化MultiMarker
        var markerLayer = new TMap.MultiMarker({
            map: map,  //指定地图容器
            //样式定义
            styles: {
                //创建一个styleId为"myStyle"的样式（styles的子属性名即为styleId）
                "myStyle": new TMap.MarkerStyle({
                    "width": 25,  // 点标记样式宽度（像素）
                    "height": 35, // 点标记样式高度（像素）
                    "src": 'favicon.ico',  //图片路径
                    //焦点在图片中的像素位置，一般大头针类似形式的图片以针尖位置做为焦点，圆形点以圆心位置为焦点
                    "anchor": { x: 16, y: 32 }
                })
            },
            //点标记数据数组
            geometries: [{
                "id": "1",   //点标记唯一标识，后续如果有删除、修改位置等操作，都需要此id
                "styleId": 'myStyle',  //指定样式id
                "position": new TMap.LatLng(35.561536,118.485778),  //点标记坐标位置
                "properties": {//自定义属性
                    "title": "春江鞋业"
                }
            }
            ]
        });
    }
    $(document).ready(function () {
        $(".nav-stacked li").each(function(){
            $(this).removeClass("active")
        })
        if ([[${cat}]] === 1){
            $("#mat").addClass("active")
        }
        if ([[${cat}]] === 2){
            $("#sta").addClass("active")
        }
        if ([[${cat}]] === 3){
            $("#eqi").addClass("active")
        }
    });

    /*]]>*/
</script>
</body>
</html>